.App {
  max-width: 1040px;
  margin: 0 auto;
}

.Header nav {
  display: flex;
  justify-content: flex-end;
}

.Title h1 {
  display: flex;
  justify-content: center;
}
.Header nav a {
  color: black;
  cursor: pointer;
  display: block;
  margin: 10px;
  text-decoration: underline;
}

.SignupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignupForm input,
.SignupForm button {
  max-width: 400px;
  width: 100%;
}
